h1,h2,h3,h4,h5,p,a {
  margin: 0;
}



.app {
  display: grid;
  grid-template-rows: 120px auto 60px;
  grid-template-columns: 30px auto 30px;
  height: 100vh;
  overflow: hidden;
}

.app .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #111;
  color: white;
  grid-area: 1/1/2/4;
}

.app .body {
  padding: 1rem;
  grid-area: 2/1/3/4;
  overflow: auto;
}

.app .body .section {
  margin: 0 auto 1rem;
}

.app .footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  grid-area: 3/1/4/4;
  background-color: #111;
  color: white;
}

.task {
  display: block;
  width: 25%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #333a;
  cursor: pointer;
}

input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px #999a solid;
}